body {
  background-color: #e4e3e3;
}
#editor {
  position: absolute;
  margin: auto;
  margin-top: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 600px;
}

.CodeMirror {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.CodeMirror:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
